body {
    font-family: 'Roboto', sans-serif;
}
.box-navbar {
    width: 100%;
    height: 40px;
    padding-left: 25%;
    padding-right: 25%;
    background-color: rgba(0, 0, 0, 0.8);
}

#navbar {
    padding: 0;
    font-size: 13px;
    }
#navbar li {
    display: inline;
    float:left;
    padding-left: 10px;
}
#navbar li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    float:left;
    margin-left: 40px;
}
.box-1 {
    width: 100%;
    height: 40px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    display: inline;
}
#orange {
    color: orange;
    margin-bottom: -40px;
}

.button {
    background-color: rgb(0, 113, 227);
    color: white;
    border-radius: 15px 15px 15px 15px;
    height: 30px;
}
.link {
    color: rgb(0, 113, 227);
    text-decoration: none;
}
.image-1{
   margin-left: 50%;
   transform: translateX(-50%);
   margin-top: 40px;
   width: 50%;
}
.boxPadre{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.box2 {
    background-color: rgb(242, 242, 242);
    width: 400px;
    height: 500px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    text-align: center;
}
.image2{
    margin-bottom: 0px;
    margin-top: 50px;
}
.image3{
    margin-bottom: 0px;
    margin-top: 22px;
}
.text-box {
    text-align: center;
}
.big-letter {
    font-size: 35px;
    padding-right: 70px;
    padding-left: 70px;
}
.small-letter {
    font-size: 12px;
    padding-right: 40px;
    padding-left: 40px;
}
.bold {
    font-weight: bold;
}
.entrega{
    text-align: center;
    margin-bottom: 20px;
}
.box-footer {
    width: 100%;
    height: 80px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1px;
    background-color: rgb(245, 245, 247);
    color: rgb(81, 81, 84);
}
#footer {
    padding: 0;
    font-size: 13px;
    }
#footer li {
    display: inline;
    float:left;
    margin-right: 20px;
}
#footer li a {
    text-decoration: none;
    color: rgb(81, 81, 84);
    float:left;
    margin-right: 10px;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    margin-bottom: -10px;
}

    

